<div>

  <% if @questions %>
    <% @questions.each do |question| %>

        <p><%= question.score %></p>
        <a href = '/questions/<%= question.id %>'><span class="list-item"><%= question.title %></span></a>
        <p class="smaller"><%= question.user.username %></p>
    <% end %>
  <% end %>

</div>
