<div>
  <ul>
  <% if @questions %>
    <% @questions.each do |question| %>
      <li>
        <%= question.score %>
        <a href = '/questions/<%= question.id %>'><%= question.title %></a>
        <span class="smaller"><%= question.user.username %></span></li>
    <% end %>
  <% end %>
  </ul>
</div>
