<h3 class="center-align"> Questions </h3>
<div>

  <% if @questions %>
    <% @questions.each do |question| %>

        <p class="q-info"><span class="score"><%= question.score %> </span>
        <a href = '/questions/<%= question.id %>' <span class="list-item"><%= question.title %></a>
        <span class="smaller"><%= question.user.username %></span></p>

    <% end %>
  <% end %>

</div>
