
<%= erb :'partials/_errors', layout: false%>
<div class="row">
  <div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea" name="comment" required></textarea>
    <label for="textarea1">your comment</label>
  </div>
</div>
<div class="form-group">
  <button class="btn waves-effect waves-light" type="submit" >Submit comment </button>
</div>
