<p> add comment</p>
<br>
<%= erb :'partials/_errors', layout: false%>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="comment"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" name="" value="Post comment">
    </div>
