<div>
  <label for="contact_first_name">First Name</label>
  <input id="contact_first_name" name="contact[first_name]" type="text" value="<%= @contact.first_name %>" />
</div>
<div>
  <label for="contact_last_name">Last Name</label>
  <input id="contact_last_name" name="contact[last_name]" type="text" value="<%= @contact.last_name %>" />
</div>
<div>
  <label for="contact_email">Email</label>
  <input id="contact_email" name="contact[email]" type="text" value="<%= @contact.email %>" />
</div>
