<style>
form { display: inline;}
form input {
  background:none!important;
  border:none;
  padding:0!important;
  font:inherit;
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

</style>

<h1>All Contacts</h1>
<div class="contacts">
  <ul>
    <% @contacts.each do |person| %>
    <li><%= "#{person.id} - #{person.email}" %> -
      <a href="/contacts/<%= person.id %>">Show</a>
      <a href="/contacts/<%= person.id %>/edit">Edit</a>
      <%= erb :'contacts/_delete', layout: false, locals: { contact: person }%>
    </li>
    <% end %>
  </ul>
</div>
