<style>form div { padding: 10px; }</style>

<form action="/contacts" method="post">
  <%= erb :'contacts/_form_fields', layout: false %>
  <div>
    <input name="commit" type="submit" value="Create Contact" />
  </div>
</form>
