<div class="container">
  <%= erb :'/partials/_errors', layout: false%>
  <h2>Login</h2>
  <form method="POST" action="/login">
    <label for="email_input">Email:</label>
    <input id="email_input"  name="user[email]" type="email" >
    <label for="password_input">Password:</label>
    <input id="password_input"  name="user[password]" type="password" >
    <button class="btn waves-effect waves-light" type="submit">Login</button>
  </form>
</div>
